.bottom-bar {
  background-color: #333333;
  height: 50px;
  width:100%;
  display: flex;
  justify-content: flex-end;
}

.legal {
  height: 50%;
  width: auto;
  padding-right: 0;
  color: #ffffff;
  margin-bottom: 50%;
}
